{
  "Binary Name": "sit",
  "Folder Name": ".sit",
  "Currency Symbol": "SIT",
  "Minor Currency Symbol": "mojo",
  "Net": "mainnet",
  "Block Rewards": 1.0,
  "Blocks Per 10 Minutes": 32.0,
  "Online Config": true,
  "Ports": {
    "harvester": 22560,
    "farmer": 22559,
    "fullNode": 22555,
    "wallet": 22256,
    "daemon": 56402
  }
}