{
    "Binary Name": "spare",
    "Folder Name": ".spare-blockchain",
    "Currency Symbol": "SPARE",
    "Minor Currency Symbol": "graviton",
    "Net": "mainnet",
    "Block Rewards": 4.0,
    "Blocks Per 10 Minutes": 32.0
}