{
    "Binary Name": "tad",
    "Folder Name": ".tad",
    "Currency Symbol": "TAD",
    "Minor Currency Symbol": "mojo",
    "Net": "mainnet",
    
    "Block Rewards": 2.0,
    "Blocks Per 10 Minutes": 32.0,

    "Online Config": true,
    
    "Ports": {
        "harvester": 4458,
        "farmer": 4457,
        "fullNode": 4555,
        "wallet": 4456,
        "daemon": 4400
      }
}
