{
    "Binary Name": "wheat",
    "Folder Name": ".wheat",
    "Currency Symbol": "WHEAT",
    "Minor Currency Symbol": "mojo",
    "Net": "mainnet",
    
    "Block Rewards": 2.0,
    "Blocks Per 10 Minutes": 32.0,

    "Online Config": true,
    
    "Ports": {
        "harvester": 21560,
        "farmer": 21559,
        "fullNode": 21555,
        "wallet": 21256,
        "daemon": 21200
      }
}
