{
    "Binary Name": "flax",
    "Currency Symbol": "XFX",
    "Minor Currency Symbol": "mojo",
    
    "Net": "mainnet",
    "Block Rewards": 2.0,
    
    "Blocks Per 10 Minutes": 32.0,
    "Online Config": true,
    
    "Ports": {
        "harvester": 6760,
        "farmer": 6759,
        "fullNode": 6755,
        "wallet": 6761,
        "daemon": 56600
      }
}
