  
{
    "Binary Name": "kale",
    "Currency Symbol": "XKA",
    "Minor Currency Symbol": "mojo",
    "Net": "mainnet",
    
    "Block Rewards": 2.0,
    "Blocks Per 10 Minutes": 32.0,
    
    "Online Config": true, 
    
    "Ports": {
        "harvester": 6460,
        "farmer": 6459,
        "fullNode": 6355,
        "wallet": 7431,
        "daemon": 56300
      }
}
