[Unit]
Description=chiabot

[Service]
Type=forking
RemainAfterExit=yes
User=chia
WorkingDirectory=/etc/chiabot/
#Environment=PATH=/chia/Swar-Chia-Plot-Manager/venv/bin:${PATH}
ExecStart=/usr/bin/tmux new-session -s chiabot -d /usr/bin/chiabot
ExecStop=/usr/bin/tmux kill-session -t chiabot

[Install]
WantedBy=multi-user.target